/* A specified standard san-serif web font for data (such as Arial, Verdana, or Helvetica) */
/* A specified standard serif web font for text (such as Georgia, Times, etc.) */


html, body {
  background-color: #ebeced;
  width: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
/* nav, header, footer {
  border: 1px dotted;
  width: auto;
  margin: 10px 0px 10px 50px;
} */

header > img, nav > ul{
  margin: 0 0 0 10%;
  width: 70%;

}

header, nav {
  margin-top: 1%;

}


footer {
  margin-top: 2%;
}

footer > p {
  margin: 0 0 0 10%;
}

.navMenu {
  display: inline;  
  margin-right: 2%;
  background-position: 100% .4em;
}
nav > h1 {
  font-family: 'IM Fell English SC', serif;
  font-size: 48px;
  text-align: center;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h2 {
  text-align: center;
  font-size: 22px;
}


ul {
  display: inline;
  list-style-type: disc;
  margin-left: 50px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 0 0 10%;
  padding: 0;
  width: 70%;
  min-width: 60%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .25em;
}
table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  font-weight: bold;
  letter-spacing: .05em;
  text-transform: uppercase;
}
/* select all tr child elements */
tr *:first-child {
  width: 12%;
  font-weight: bold;
}
form {
  width: 50%;
  min-width: 30%;
  margin: 3% 0 0 10%;
}

fieldset {
  border: solid;
}

legend { 
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 20px;
  font-size: 1.5em;
}

input:invalid {
  border: 2px soild red;
}

#divButton {
  margin-left: 45%;
}
button {
  margin: 1% 0 1% 1%;
  font-size: 1em;
  /* padding: 1% 1%; */
}


label, input {
  /* in order to define widths */
  width: 45%;
  display: inline-block;
}

label {
  margin-left: 0;
  /* positions the label text beside the input */
  text-align: right;
}

section > img{
  margin: 0 0 0 10%;
  width: 30%;
  display: inline-block;
  
}


section > h2 {
  font-family: 'IM Fell English SC', serif;
  font-size: 24px;
  text-align: left;
  margin: 2% 0 2% 10%;
}

#sectionDiv {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 0 3%;
}

section p{
  margin-top: 1%;
}

#sectionDiv > img {
  margin: 3% 0 0 22%;
}

section ul {
  display: inline-block;
  margin: 0 0 0 10%;
}
section li {
  display: inline-block;
  width: 20%;
  margin: 1% 1%
}
li img {
  width: 80%;
  vertical-align: top;
}